<%= form_with(model: listing, local: true) do |form| %>
    <% if listing.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

          <ul>
              <% listing.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
          </ul>
        </div>
    <% end %>
    <div class="content">
        <h2 class="text-center mt-5">Space Name, Venue Name</h2>
        <div id="wizard">
            <h2>Overview</h2>
            <section>
                <div class="form-group">
                   <%= form.label :space_name %>
                   <%= form.text_field :space_name, id: :listing_space_name ,class:"form-control"%>
                   <small>The Space name is the specific space for hire within the venue, e.g. 'Private Dining Room'.</small>
               </div>
                <div class="form-group">
                 <%= form.label :venue_name %>
                 <%= form.text_field :venue_name, id: :listing_venue_name ,class:"form-control"%>
                 <small>Your venue name is the name of your whole establishment, e.g. 'Albert Hall'.</small>
                </div>

                <div class="form-group">
                 <%= form.label :description %>
                 <%= form.text_area :description, id: :listing_description ,class:"ckeditor form-control" %>
                 <small>Max 5000 chars
                  Include practical information such as what the Space can be used for and additional services you offer. Revert to the information from your own website or brochures for any  key points.</small>
                </div>
            </section>

            <h2>Address</h2>
            <section>
                <div class="form-group">
                    <%= form.label :address_line_1 %>
                    <%= form.text_field :address_line_1, id: :listing_address_line_1 ,class:"form-control"%>
                </div>

                <div class="form-group">
                    <%= form.label :address_line_2 %>
                    <%= form.text_field :address_line_2, id: :listing_address_line_2 ,class:"form-control"%>
                </div>

                <div class="form-group">
                    <%= form.label :city %>
                    <%= form.text_field :city, id: :listing_city ,class:"form-control"%>
                </div>

                <div class="form-group">
                    <%= form.label :state %>
                    <%= form.text_field :state, id: :listing_state ,class:"form-control"%>
                </div>

                <div class="form-group">
                    <%= form.label :country %>
                    <%= form.text_field :country, id: :listing_country ,class:"form-control"%>
                </div>

                <div class="form-group">
                    <%= form.label :zipcode %>
                    <%= form.text_field :country, id: :listing_zipcode ,class:"form-control"%>
                </div>

                <div class="form-group">
                    <%= form.label :timezone %>
                    <%= form.text_field :timezone, id: :listing_timezone ,class:"form-control"%>
                </div>
            </section>

            <h2>Third Step</h2>
            <section>
                
            </section>

            <h2>Forth Step</h2>
            <section>
               
            </section>
        </div>
            <div class="actions">
             <%= form.submit %>
            </div>
    </div>
<% end %>
<script>
    $(function ()
    {
        $("#wizard").steps({
            headerTag: "h2",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            stepsOrientation: "vertical"
        });
    });

</script>
<script type="text/javascript">
  $(".ckeditor").ckeditor();
</script>
