<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<div>
  <!--Navbar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%=image_tag "logo (3).png"  ,style: "width:10%"%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
      aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
      <ul class="navbar-nav ml-auto ">

        <% if user_signed_in? %>
         <div class="list mr-4">
            <%= link_to new_listing_path, class: "mr-1 link-style"  do %>
              <i class="fas fa-plus nav-icons link-style mr-1"></i>List with Us
            <% end %>
          </div>
          <div class="list ml-2">
            <!-- <%#= link_to destroy_user_session_path, class: "mr-1 link-style", method: :delete, data: {confirm: 'Are you sure you want to sign out?'} do %>
              <i class="fa fa-user nav-icons link-style "></i> <%#= current_user.full_name %>
              
            <%# end %>  -->
            <div class="dropdown mr-5">
              <div class="border-0 drop-down-custom" data-toggle="dropdown">
                <i class="fa fa-user nav-icons link-style mr-1"></i><%= current_user.full_name %><i class="fa fa-angle-down ml-2"></i>
              </div>
              <div class="dropdown-menu">
                <a class="dropdown-item" class="mr-1 link-style" href="#">List with us</a>
                <a class="dropdown-item" class="mr-1 link-style" href="#">My Account</a>
                <%= link_to "Logout", destroy_user_session_path, class: "mr-1 link-style dropdown-item", method: :delete %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="list ml-2">
            <%= link_to new_user_session_path, class: "mr-1 link-style", data: { toggle: 'modal', target: '#loginModal', remote: true } do %>
              <i class="fas fa-plus nav-icons link-style mr-1"></i>List with Us
            <% end %>
          </div>
          <div class="ml-3  list">
            <%= link_to new_user_session_path, class: "mr-1 link-style", data: { toggle: 'modal', target: '#loginModal', remote: true } do %>
              <i class="fa fa-arrow-right nav-icons mr-1 link-style"></i>Log In
            <% end %> 
          </div>
          <div class="ml-3 list">
            <%= link_to new_user_registration_path, class: "ml-1 link-style ",  data: { toggle: 'modal', target: '#registerModal', remote: true } do %>
              <i class="fa fa-user nav-icons link-style "></i> Create account
             <% end %> 
          </div>  
        <% end %>
      </ul>
    </div>
  </nav>
  <!--/.Navbar -->
</div>
