<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title" id="exampleModalLabel">Sign Up to Headbox</h2>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div id="login_error"></div>
      <%= form_for(:user, as: resource_name, url: registration_path(:user), remote: true) do |f| %>

      <div class="form-group">
       <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "First name", class: 'form-control' %>
     </div>

     <div class="form-group">
       <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "Last name", class: 'form-control' %>
     </div>

     <div class="form-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Work email address", class: 'form-control ' %>
    </div>

    <div class="form-group">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: 'form-control ' %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "Password confirm", class: 'form-control ' %>
    </div>

    <p>Subscribe to our newsletters and become part of the HeadBox community to benefit from the following:</p>

    <div class="checkbox">
      <input type="checkbox" name="" value=""> Brand new venues on HeadBox
    
   </div>

   <div class="checkbox">
    <input type="checkbox" name="" value=""> Exclusive HeadBox event invitations
   </div>
     <div class="checkbox">
      <input type="checkbox" name="" value=""> Special offers from our venues and suppliers
     </div>
    <div class="checkbox">
       <input type="checkbox" name="" value=""> Events industry news
    </div>
   

   
    <p>We will store your contact details under the terms:</p>
    <% if devise_mapping.rememberable? %>

    <%= f.check_box :I_accept_the_Headbox_Terms_and_Conditions_and_Privacy_Policy %>
    <%= f.label :I_accept_the_Headbox_Terms_and_Conditions_and_Privacy_Policy %>

    <% end %>
    <div class="row">
        <div class="col-md-6 link-style mt-2">
           Already a member? <%= link_to "sign in", new_user_session_path , data: { toggle: 'modal', target: '#loginModal', remote: true }, class: 'link-style mt-2'  %>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.submit "Sign up", class: 'btn btn-block btn-dark ' %>
          </div>
        </div
        >  
    <% end %>
  </div>
</div>
</div>